<?xml version="1.0" encoding="UTF-8"?>

<!-- Don't forget to set system property -DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector 
	to make all loggers asynchronous. -->
<!-- -Dlog4j.configurationFile=config\log4j2.xml -->

<Configuration status="WARN" monitorInterval="60" packages="coinhelper.log">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] [%c{1}][%M] - %m%n" />
		</Console>
		
		<UserRollingFile name="ALL" fileName="D:/log/coinHelper/all.log"  filePattern="D:/log/coinHelper/all.%i.log" immediateFlush="false">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy /> 
				<SizeBasedTriggeringPolicy size="30MB" />
			</Policies>
			<DefaultRolloverStrategy max="300" />
		</UserRollingFile>
		
		<Async name="AsyncALL" buffersize="1048576" includeLocation="TRUE">
			<AppenderRef ref="ALL" />
		</Async>
	</Appenders>

	<Loggers>
		<Root level="debug" includeLocation="true">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="AsyncALL" />
		</Root>
	</Loggers>
</Configuration>